extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Stheven Cabral

        p.lead.text-light
          | Full Stack Web Developer

        .portfolio-bio
          p
            | Hi, I'm Stheven Cabral, a biotechnology professional turned Full Stack Web Developer. 
            | I have completed both the front end web development and full stack javascript techdegree program with Team Treehouse where I was able to build nineteen projects using various front end and back end technologies. 
            | I can build user interfaces of apps and web sites using various technologies such as HTML, Pug or React, implement client side validation, include interactivity using JavaScript, and add animation using animate.css or pure CSS.
            | In addition, I can build REST API's using Express. access relational data using technologies such as Sequelize and SQLite, serve data to websites using Express, and build user validation and authentication.
            | My passion for programming has grown in the past year, and I hope to one day join a company where I am able to develop my skills, make significant contributions, and build aesthetic and user friendly applications.
          p
            | In addition to my technical skills, I bring along professional work experience from regulated biotechnology environments where I have had to learn things quickly, adhere to strict guidelines and SOPs, work cross functionally with employees and different departments, and communicate updates and decisions in a fast paced setting.
            | My 10 years of experience has helped me build important qualities such as a strong work ethic, people skills, soft skills, time management, and managing work load and goals.
            | I want to use these qualities and my passion for programming to make an impact in people's lives. 
          
          p 
            | My project page highlights applications and interfaces that I built and the tools I used to build them. If you feel that we can work together to develop something in the future, please don't hesitate to reach out.
            | Looking forward to working with you!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Sass
          li Bootstrap
          li Responsive Design
          li JavaScript
          li node.js
          li npm 
          li Express
          li React
          li Context API
          li Sequelize for SQL
          li Building a REST API
          li gitHub

        h6 Contact Info
        ul
          li 415-823-7220
          li stheven.cabral@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/sthevencabral' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Stheven-Cabral' target='_blank') GitHub
        a.button.expanded(href='https://stheven-cabral.github.io/Stheven_Cabral_Professional_Portfolio/' target='_blank') Portfolio Highlighting Front End Projects
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  