extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Stheven Cabral

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi, I'm Stheven Cabral, a biotechnology professional aspiring to be a Full Stack Web Developer. 
            | I have completed the front end web development techdegree program with Team Treehouse where I was able to build nine projects using HTML, CSS, Sass, Bootstrap, JavaScript and jQuery. 
            | In addition, I am currently expanding my skill set and development tools such as node.js, Express, React.js, REST and SQL, through the Team Treehouse full stack javascript techdegree program.
            | My passion for programming has grown in the past year, and I hope to one day join a company where I am able to develop my skills, make significant contributions, and build aesthetic and user friendly applications.
          p
            | In addition to my technical skills, I bring along professional work experience from regulated biotechnology environments where I have had to learn things quickly, adhere to strict guidelines and SOPs, work cross functionally with employees and different departments, and communicate updates and decisions in a fast paced setting.
            | I want to use my skills and my passion for programming to make an impact on people's lives. 
            | 
          p 
            | My project pages highlight mainly applications that I have built and the tools I used to build them. If you feel that we can work together to develop something in the future, please don't hesitate to reach out.
            | Looking forward to working with you!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Sass
          li Bootstrap
          li Responsive Design
          li JavaScript
          li jQuery
          li Node.js
          li npm 
          li Express
          li gitHub
        h6 Contact Info

        //- Add your own contact info
        ul
          li 415-823-7220
          li stheven.cabral@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/sthevencabral' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Stheven-Cabral' target='_blank') GitHub
        a.button.expanded(href='https://stheven-cabral.github.io/Stheven_Cabral_Professional_Portfolio/' target='_blank') Front End Portfolio
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  