<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(rel="icon" href="data:;base64,=")
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/images/profile-img.jpg')
          .cell.auto

            h5 Stheven Cabral

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              | Who am I? I am a biotechnology professional aspiring to be a Full Stack Web Developer. I first learned HTML and CSS through Team Treehouse's techdegree program, and from there, I learned that I truly enjoyed designing and laying outthe user interface. Learning how to position and add styles to elements tapped into my creative and artistic nature.
            p.text-light
              | From there, I naturally gravitated to expanding my skills in JavaScript in order to be build web applications front to back. I hope to one day use my skills to build visually appealing and interactive web and mobile applications.

            //- Add about page route to the href below. 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          span.title-bar-title Stheven Cabral
      block content
        

      
  script(src='/js/vendor/jquery.js')
  script(src='/js/vendor/what-input.js')
  script(src='/js/vendor/foundation.js')
  script(src='/js/scripts.js')
